body{
    /* background-image: url(https://www.albayan.ae/polopoly_fs/1.3837675.1587468004!/image/image.PNG); */
    background-color: #f1ad05 ;
    background-attachment: fixed;
    background-repeat:  no-repeat;
    background-size: 100% 100%;
}
#img1{
    width: 100%;
    height: 300px;
}


body,html{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282828;
    height: 80px;
    
  }
  
  .img{
   margin-top: 10px;
   margin-left: 1000px;
  }


  .o {
    width: 300px;
    height: 300px;
    /* background: red; */
    transition: width 2s, height 4s;
  }
  
  .o:hover {
    width: 500px;
    height: 500px;
  }
  .b{
      
  }





  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
/* body {
    font-family: "Lato", sans-serif;
} */
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #282828;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #282828;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid #f0c330;
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #282828;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.footer {
    /* position: fixed; */
    margin-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    color: white;
    text-align: center;
    
 }

 .m{
     margin-bottom: 40px;
     height: 300px;
     width: 100%;
 }